<a href="https://colab.research.google.com/github/Krishantsingh/Data-Structure-1/blob/main/Data_Structure_Assignmnet_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Discuss string slicing and provide example.

   = String slicing is a technique in Python to access specific parts of a
     string by defining start and end positions. It is helpful for extracting substrings, reversing strings, or manipulating data efficiently.

     example

In [ ]:
# Suppose a string
s="ram,sita"
slice1=s[0:3]
slice2=s[4:9]
print(slice1)
print(slice2)

ram
sita

3. Describe how to access, modify, and delete elements in a list with examples.

 =The process of access, modify, and delete element in a list is given below,

In [ ]:
#If a list
l=[1,2,3,3.44,"ram"]
#if i want to access '3.44' then
l[3]

3.44

In [ ]:
#if i want to modify '3' with "sita" then
l[2]="sita"
l

[1, 2, 'sita', 3.44, 'ram']

In [ ]:
# If a want to delete "ram" then
del l[4]
l

[1, 2, 'sita', 3.44]

2. Explain the key features of lists in Python.

  = A type of data container which can store all kind of data. List is mutable
  and it can store heterogenous data. Some major features of lists in python are as follow,
   
   i.   Lists are mutable

   ii.  It can store heterogenous data

   iii. The delement of list can be easily accessable

   iv. It supports slicing of element

   v.  It supports nesting etc.

4. Compare and contrast tuples and lists with examples.

 =  i. Tuples
  
     -The data structure which can not be modified is called Tuples. Tuples are immutable.

     example,

In [ ]:
# suppose Tuple
t=(1,2,3,4)
# if i want to access '4' then,
t[-1]

4

In [ ]:
# if i want to modify '4' with '3', Then we can not do this because tuples are immutable
t[-1]=3

TypeError: 'tuple' object does not support item assignment

  ii. List
   
   - A type of data structure which can store all kind of data is known as list. List are mutable. we can easily access, modify the elements of a list.

   example

In [ ]:
# suppose a list
l=[1,2,3,4,5,"zx10r"]
#if i want to access '5'then
l[-2]

5

In [ ]:
#if i want to modify '4' with "BMW" then
l[-3]="BMW"
l

[1, 2, 3, 'BMW', 5, 'zx10r']

5. Describe the key features of sets and provide examples of their use.

  = Sets are unordered collection of unique element. Some of its major features are as follow,

In [ ]:
# sets are unordered collection of unique elements
s={1,1,1,3,3,3,4,4,4,5,5,4,4}
s

{1, 3, 4, 5}

In [ ]:
# You can not access the elements of set
s[2]

TypeError: 'set' object is not subscriptable

In [ ]:
# You can add any element to set
s.add("BMW")
s

{1, 3, 4, 5, 'BMW'}

In [ ]:
# You can remove any element of set
s.remove(4)
s

{1, 3, 5, 'BMW'}

6. Discuss the use cases of tuples and sets in Python programming.
  = Some major use cases of tuples in python programing are as follow,
  
   i.  it is used to store such type of data which can not be changed after they are created. Such as ATM number, bank account

In [ ]:
# it is used to get maximum and minimum element form any data
s=(1,2,3,4,5,6)
max(s)

6

In [ ]:
min(s)

1

In [ ]:
# tuples are immutable so it can be used as dictionary keys
s={(1,2,3):"num1" ,  (4,5,6):"num2"}
s

{(1, 2, 3): 'num1', (4, 5, 6): 'num2'}

7. Describe how to add, modify, and delete items in a dictionary with example.

  = The process of adding, modifying, and deleting itmes in a dictionary with example is given below,

In [ ]:
# suppose a dictionary
d={"ram":15,"sita":14}
#if i want to acces 15 then
d['ram']

15

In [ ]:
# if i want to modify '15' with 50
d['ram']=50
d

{'ram': 50, 'sita': 14}

In [ ]:
# if i want to delete '15'
del d['ram']
d

{'sita': 14}

8. Discuss the importance of dictionary keys being immutable and provide examples.

 = String, number, tuples are major immutable keys of Dictionary. Some of its importance are as follow,

 i. It is important for creating fixed data and their values,

 ii. Data integrity and stability

 iii. Performace optimization

 iv. Hashing and consistency

 example,

In [ ]:
#Tuple as a key of dictionary
d={(1,2,3):"num1",(4,5,6):"num2"}
d

{(1, 2, 3): 'num1', (4, 5, 6): 'num2'}

In [ ]:
#string as a key
d={"ram":"num1","sita":"num2"}
d

{'ram': 'num1', 'sita': 'num2'}

In [ ]:
#integer as a key of dictionary
d={4:"num1",7:"num2"}
d

{4: 'num1', 7: 'num2'}